////////////////////////////////
// BACKGROUND

.container-background {
	background-image: url('/img/background.jpg');
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

////////////////////////////////
// HEADER

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

////////////////////////////////
// CARDS

.card-container {
	display: flex;
	justify-content: space-around;
	padding-bottom: 2rem;
	border-bottom: 3px solid #fff;
	box-shadow: 0 1rem 4rem rgba(9, 96, 228, 0.562);
}
